<!DOCTYPE html>
<html lang="en">
<head>
    <title>Instructions</title>
</head>
<body>
    <h1>Welcome to the Study</h1>
    <p>University of Wisconsin - Madison
        Research Participation Information Sheet
                         
        Study Title: Understanding User Interaction with Data Visualizations
        Principal Investigator: Michael Gleicher (Phone: 608-263-2874) (Email: GLEICHER@CS.WISC.EDU)
        Student Researcher: Jiho Kim (608-949-2397)
                         
        You are invited to participate in a research study about understanding how people perform tasks using graphs and charts. You have been asked to participate because you have indicated interest to participate on Prolific. The purpose of the research is to understand how different charts affect how people use them to carry out tasks. This study will include participants who are 18 years old or above, speak fluent English, and do not have blindness or low vision conditions. 
                         
        If you decide to participate in this research, you will be asked to look at bar charts and answer questions based on the charts. There will be multiple trials, with each trial lasting a few seconds. Then, you will be asked to answer some questions based on your experience with the trials. There are a total of four trial blocks, with each trial block containing approximately 40 trials. Your participation will last approximately 25 minutes.
                                       
        You can stop the study any time. Even if you start the study, you are not required to complete it. All your answers will be confidential and will not be shared with anyone
        outside the research team OR will be shared only with the research team.
            
        If you decide to participate in the study, you will receive $5. The compensation is based on the Prolific standard rate of $12/hr and the expected duration of 25 minutes. The compensation is $5 even if you complete the study faster.
                                          
        Being in this study is voluntary. Please contact Jiho Kim at kim999@wisc.edu with questions about this study.                 
    </p>

    <img/>

    <p>Find the tallest bar from each bar chart. Then, compare the two. Which bar chart has the highest bar?</p>

    <p>Find where the tallest bar is from each bar chart. In which bar chart does the tallest bar appear later?</p>

    <a href="/prolific_id">Start Study</a>
</body>
</html>