<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter your Prolific ID</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="consent-container">
        <h1> Survey </h1>
        <form action="/prolific_id" method="POST">
            <label for="participant_id">Please enter your Prolific ID:</label>
            <input type="text" id="participant_id" name="participant_id" required>
            <button type="submit">Continue</button>
        </form>
        {% if error_message %}
        <p style="color: red; font-weight: bold;">{{ error_message }}</p>
        {% endif %}
    </div>
</body>
</html>