<!DOCTYPE html>
<html lang="en">
<head>
    <title>Task</title>
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="instruction-overlay">
        <div class="instruction-content">
            <h2 id="section-title">Instructions: Study Overview</h2>
            <div id="instruction-text"></div>
        </div>
    </div>
    
    <div id="chart-container" style="display: none;">
    </div>
    <div id="feedback-overlay" style="display: none;">
        <span id="feedback-text"></span>
    </div>

    <div id="fullscreen-warning" style="position: fixed; top:0; left:0; width:100%; height:100%; background: white; z-index: 9999; display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <h2>This experiment requires fullscreen mode</h2>
        <button style="width:50%;" onclick="goFullscreen()">Enter Fullscreen</button>
    </div>

    <script>
        let participantId = "{{ participant_id }}";
        let first_task = "{{ first_task }}"
        let second_task = "{{ second_task }}" 

        if (!participantId) {
          participantId = localStorage.getItem("participantId");
        }
        if (!first_task) {
          first_task = localStorage.getItem("first_task");
        }
        if (!second_task) {
          second_task = localStorage.getItem("second_task");
        }   

        function goFullscreen() {
            document.documentElement.requestFullscreen().then(() => {
              document.getElementById('fullscreen-warning').style.display = 'none';
            }).catch((err) => {
              alert("Fullscreen failed. Please try again.");
              console.error(err);
            });
          }
    </script>
    </script>
    <script type="module" src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
