<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="thank-you-container">
        <h1>Thank You for Participating!</h1>
        <p>Your responses have been recorded.</p>
        <p>We appreciate your time and effort in completing this study.</p>
        <p>The completion code is: <strong>CL9JMSF6</strong></p>
        <p>Please copy and paste this code to Prolific to confirm that you have completed the survey.</p>
        <p>You may now close this window.</p>
    </div>

</body>
</html>